.board-container {
    /* flex: 1; */
    background-image: url('../assets/desert.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}