.App {
  text-align: center;
}

.info-box {
  background-color: lightblue;
  margin: 10px;
  padding: 5px;
  border-radius: 20px;
}

p {
  margin: 5px 10px;
}

h2 {
  margin: 5px 5px 10px 5px;
}

h3 {
  margin: 20px 5px 10px 5px;
}