.App {
  text-align: center;
}

.info-box {
  background-color: lightblue;
  margin: 10px;
  padding: 5px;
  border-radius: 20px;
}

p {
  margin: 5px 10px;
}

h2 {
  margin: 5px 5px 10px 5px;
}

h3 {
  margin: 20px 5px 10px 5px;
}

.bibliography-container {
  margin-top: 100px;
  text-align: center;
}

.bibliography-item {
  display: flex;
  justify-content: center;
}

.bibliography-item img {
  /* margin-right: 10px; */
  display: block;
  width: 30px;
}


.content p {margin: 0;}