.App {
  text-align: center;
}

.info-box {
  background-color: lightblue;
  margin: 10px;
  padding: 5px;
  border-radius: 20px;
}

p {
  margin: 5px 10px;
}

h2 {
  margin: 5px 5px 10px 5px;
}

h3 {
  margin: 20px 5px 10px 5px;
}

.full-map-container {
  /* width: 90vw; */
  width: 80vh;
  left: 5%;
  position: relative;
  border: 1px solid black;
}

.full-map-image {
  width: 100%;
  /* position: absolute; */
  top: 0px;
  left: 0px;
  z-index: 1;

  /* width: 300px; */
  /* height: 600px; */
  /* object-fit: cover; */

  /* clip-path: inset(35% 50% 0% 0%); */
}

.map-cover-container {
  /* width: 90vw;
  height: 90vw; */
  width: 80vh;
  height: 80vh;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;

  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: #2196F3; */
}

.map-cover-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  font-size: 30px;
  text-align: center;
  width: 100%;
  /* border: 1px solid black; */
}

.map-cover-item-black {
  background-color: black;
  border: 1px solid grey;

}

.map-cover-item-yellow {
  background-color: yellow;
  border: 1px solid grey;

}

.bibliography-container {
  margin-top: 100px;
  text-align: center;
}

.bibliography-item {
  display: flex;
  justify-content: center;
}

.bibliography-item img {
  /* margin-right: 10px; */
  display: block;
  width: 30px;
}

.content p {margin: 0;}

@media screen and (max-width: 700px){
  .full-map-container {
    /* width: 90vw; */
    width: 80vw;
  }
  .map-cover-container {
    width: 80vw;
    height: 80vw;
  }

}